version: '3.8'

services:
  android-build:
    image: expo-android-builder
    volumes:
      # Mount the entire Monorepo Root to /monorepo
      - ./:/monorepo
      # Mount the SHARED cache
      - gradle_cache_shared:/opt/gradle
    working_dir: /monorepo/apps/client-ui
    environment:
      # Optional: Pass token if you have it in your host env
      - EXPO_TOKEN=IrR81E6iHp4oY7XyMeh2ZusmZcbmarhwOxJtU-bI
    # Default command to run when using `docker-compose run`
    command: bash -c "npm install && eas build --platform android --local"

volumes:
  gradle_cache_shared:
    external: true